{% extends 'base.html' %}
{% load static %}
{% block title %}
ABOUT US
{% endblock %}
{% block content %}

<center><div class="fs-2">ABOUT OUR <b class="text-warning"> URBANCART</b>
    <i class="text-warning fa-solid fa-location-dot mb-3"></i></div><div style="height:3px;width:220px;background:orange;border-sizing:border-box"></div>
<p class="m-0 mt-2">
       <b> If you love something, wear it all the time... Find things that suit you. That's how you look extraordinary.</b>
    </p></center>
<div class="m-5 row">
    <div class="col-sm-6">
          <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/e7_W9VsGeL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><iframe width="560" height="315" src="https://www.youtube.com/embed/e7_W9VsGeL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
    </div>
    <div class="col-sm-6">
        <p class="fs-5 fw-bold" style="text:justify">
            Welcome To The <b class="text-warning">The UrbanCart India</b>, Just Below Explains<br> our Website and the Growing growth of this field also.
        </p>
        <div style="height:3px;width:600px;background:orange;border-sizing:border-box"></div>
        <p class="text-justify my-3">What do you think about fashion? Is this a topic with great importance to you? Or are you just in the dark when it comes to what's hot and what's not? People look at fashion as a way to express yourself. You may not know this but fashion also involves more then just imitating others. It is a form of non-verbal communication that provides a way for people to express their identities and values.</p>
        <p class="text-justify">This Website is developed and maintained By Aryan Gupta . This Website is a form of E-commerce Website which ensures Availability,Accessibility,Security,Quality of the Apparel (Clothes) unisex via a online medium . Purchasing via any E-commerce site,
        We believe that the design process must always be consider how people use things in real life and lead to solutions that are clear, honest, and genuinely useful.</p>
    </div>
<center>
    <div class="  m-3 mt-5">
        <span class="fs-3 fw-bold">
            We <b class="text-warning">Believe</b></span>
        <div style="height:3px;width:100px;background:orange;border-sizing:border-box"></div>
        <p class=" my-2 mb-5">
       <b> We Believe in making Fashion should Accessible and Affordable to every individual , With ensuring Quality and security of the product .</b>
    </p>
    </div>
</center>
    <div class="row">
    <div class=" col-sm-2"></div>
        <div class=" col-sm-8 "><span class="fs-3"><b class="text-color">Our</b> Vision</span>
    <div class="ms-3 my-2" style="height:3px;width:70px;background:orange;border-sizing:border-box"></div>
    <p>Our Vision is to be a leading Online Shopping Platform in E-commerce and
        progress in our current position in Online Market. We know that Customer's
        satisfaction and interaction is our growth, so we commit our customers as our priorities to help in achieving
        their Best quality products at Effective and affordable rates. We believe in work with the customer perspective and also with accuracy .</p></div>
</div>
    <div class="row">
    <div class=" col-sm-2"></div>
        <div class=" col-sm-8 "><span class="fs-3"><b class="text-color">Our</b> Mission</span>
    <div class="ms-3 my-2" style="height:3px;width:70px;background:orange;border-sizing:border-box"></div>
    <p>Our mission is to enhancing the best offers and deals  for our customers with creative Design and Development to deliver market-defining high-quality Product available to your doorstep that create value and reliable competitive advantage for our clients around the world.</p></div>
</div>
    <div class="row">
    <div class=" col-sm-2"></div>
        <div class=" col-sm-8 "><span class="fs-3"><b class="text-color">Our</b> Work Scope</span>
    <div class="ms-3 my-2" style="height:3px;width:70px;background:orange;border-sizing:border-box"></div>
    <p>Our mission is to deliver orders (packages) with quality and services at reasonable prices. For us customer satisfaction is given top place. We are very friendly in our dealings to the customers and it helps us retain existing clients and expand customer circle. We always try to improve the quality of our products by exploring innovative ideas.</p></div>
</div>
</div>

{% endblock %}