{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not request.session.userid %}
<script>
    alert('You have login first...')
    location.href="/user/signin/"
</script>
{% endif %}
<div class="fs-2 text-center">Your Item In <b class="text-color">Cart <i class="fa-solid fa-shopping-cart"></i></b>
    <center><hr style="width:300px; height:3px;"></center>
</div>

<table class="table table-striped table-hover">
   <tr style="background:#969ba1;">
   <th>Product Picture</th>
   <th>Price</th>
   <th>After Discount</th>
   <th>Size</th>
   <th>Color</th>
   <th>Product Delivery</th>
   <th>Added date</th>
   <th>Delete</th>
   <th>Order</th>
   </tr>
   {% for i in cdata %}
   <tr style="background:#e2d2b8;">
      <td><img src="/{{i.7}}" class="img-thumbnail" style="max-height:150px;"></td>
      <td class="text-danger fw-bold">{{i.1}}</td>
      <td class="text-success fw-bold">{{i.2}}</td>
      <td><span class="btn bg-ocolor">{{i.3}}</span></td>
      <td><div style="height:45px;width:45px;border-radius:3px;background:{{i.4}}"></div></td>
      <td>{{i.6}}</td>
      <td>{{i.15}}</td>
      <td><a href="/user/showcart?msg={{i.11}}" class="btn btn-sm bg-danger"> <i class="fa-solid fa-trash"></i></a></td>
      <td><a href="/user/showcart?cid={{i.11}}&pid={{i.13}}" class="btn bg-ocolor">Order Now</a></td>
   </tr>
   {% endfor %}
</table>

{% endblock %}